/* Chat.css */
.chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use the full viewport height */
  }
  
  .MainContainer {
    flex: 1; /* Make the MainContainer take up the remaining space */
    display: flex;
    flex-direction: column;
  }
  